<?xml version="1.0" encoding="UTF-8"?>
<configuration>

    <!-- 引用默认日志配置 -->
    <include resource="org/springframework/boot/logging/logback/defaults.xml"/>
    
    <!-- 使用默认的控制台日志输出实现 -->
    <include resource="org/springframework/boot/logging/logback/console-appender.xml"/>
    
    <!-- 应用名称 -->
    <springProperty scope="context" name="APP_NAME" source="spring.application.name" defaultValue="springBoot"/>

    <!-- 控制台输出格式 -->
    <property name="FILE_LOG_PATTERN" value="%d{yyyy-MM-dd HH:mm:ss.SSS} [%thread] %-5level %logger{36} - %msg%n"/>

    <!-- 不打印 logback 内部状态信息 -->
    <statusListener class="ch.qos.logback.core.status.NopStatusListener"/>

    <!-- 控制框架输出日志 -->
    <logger name="org.slf4j" level="INFO"/>
    <logger name="springfox" level="INFO"/>
    <logger name="io.swagger" level="INFO"/>
    <logger name="org.springframework" level="INFO"/>
    <logger name="org.hibernate.validator" level="INFO"/>
    <logger name="com.alibaba.nacos.client.naming" level="INFO"/>

    <!-- 应用日志 -->
    <logger name="com.macro.mall.common.log.WebLogAspect" level="DEBUG"/>
    <logger name="com.macro.mall" level="DEBUG"/>

    <!-- Root 日志，只输出到控制台 -->
    <root level="DEBUG">
        <appender-ref ref="CONSOLE"/>
    </root>

</configuration>
